<div>
    <footer>
        <div>
          <div>
            <div>
              Muskan Thapa
            </div>
            <div>Email : abc@gmail.com</div>
            <div>Phone: +91 1234567890</div>
  
          </div>
          <div id="subs">
            <p>Subscribe Form</p>
            <div>
              <input type="email" name="subscribe" id="subEmail">
              <button class="btn1">Submit</button>
            </div>
          </div>
        </div>
        <div>
          <div>
            &#169; 2022 by Muskan Thapa
          </div>
          <div>
            <a href="https://www.facebook.com/" target="_blank"><fa-icon class="icon" [icon]="faFace"></fa-icon></a>
            <a href="https://www.instagram.com/" target="_blank"><fa-icon class="icon" [icon]="faInsta"></fa-icon></a>
            <a href="https://www.linkedin.com/in/muskan-thapa-0864ab1b2/" target="_blank"><fa-icon class="icon"
                [icon]="faLink"></fa-icon></a>
            <a href="https://webogram.org/" target="_blank"><fa-icon class="icon" [icon]="faTel"></fa-icon></a>
          </div>
        </div>
      </footer>
  
</div>
