<app-nav-bar></app-nav-bar>
<div class="contain">
    
    <div  id="heading">
        <h1 style="color: #b06e57; font-weight: bold;">Welcome Vertos!</h1>
        <h4>We help you to find a help</h4>
        <p>Select the way you want to select a faculty for you doubt clarification.</p>
    </div>
    
    <div id="controls">
        <div>
            <a routerLink= "/byTeacher/uid="><button class="search">Search by Teacher</button></a>
        </div>
        <div>
            <a routerLink= "/bySubject/uid="><button class="search">Search by Subject</button></a>
        </div>
    </div>
    
</div>
<div id="footer">
    <app-footer></app-footer>
</div>