#main {
    min-height: 100vh;
    padding: 7% 0;
    /* background-color: rgb(74, 74, 77,0.4 ); */
    background: url(../../../../../images/photo-1581447109200-bf2769116351.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(74, 74, 77 );
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    width: 28%;
    /* height: 550px; */
    margin: auto;

    /* border: 1px solid black; */
    /* padding: 120px 50px; */
    border-radius: 20px;
    box-shadow: 0 0 9px 2px rgb(74, 74, 77);
    background-color: white;
}

#head {
    /* border-bottom: 2px solid black; */
    display: flex;
    justify-content: space-around;
    /* padding: 20px; */
}

form {
    padding: 60px 50px;
}

span {
    cursor: pointer;
    width: 100%;
    text-align: center;
    height: 100%;
    padding: 10px;
}

#log {
    border-radius: 20px 0 0 0;
}

#sign {
    border-radius: 0 20px 0 0;
}
/* 
#second-form {
    float: right;
    display: none;
} */

.selected{
    background-color: #b06e57;
    color: white;
}

.non-selected{
    background-color: none;
    color: black;
}

#emailHelp{
    color: red;
}

.btn-success{
    color: white;
    background-color: #b06e57;
    border: 0;
}

